[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
#{#rq(get_wallpaper_path("%h"))#}
ExecStart=/usr/bin/swaybg -m fill -i "%h/.config/share/wallpapers/lockedin.png"
Restart=on-failure
