/*noinspection CssNoGenericFontName*/
* {
  /*{#rq(data.font)#}*/
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 13px;
  transition: 0.5s;
  margin-top: 1px;
}

button {
  box-shadow: none;
  border: none;
}

/*noinspection CssInvalidHtmlTagReference,SpellCheckingInspection*/
window#waybar {
  background: transparent;
}

#workspaces {
  border-radius: 5px;
}

#workspaces button {
  /*{#rcol(data.colors.text)#}*/
  color: #e4e1e9;
  /*{#rcol(data.colors.background)#}*/
  background-color: #131318;
  border-radius: 10px;
}

#workspaces button.empty {
  /*{#rcol(data.colors.unfocused)#}*/
  color: #46464f;
}

#workspaces button.focused {
  /*{#rcol(data.colors.normal)#}*/
  color: #bbc3ff;
}

#workspaces button:hover {
  /*{#rcol(data.colors.subtle_highlight)#}*/
  background: #39393f;
  /*{#rcol(data.colors.waybar_button_hover)#}*/
  color: #bbc3ff;
  box-shadow: none;
  border: none;
}

#network,
#clock,
#power-profiles-daemon,
#battery,
#systemd-failed-units,
#pulseaudio,
#privacy,
#backlight,
#bluetooth,
#custom-power,
#custom-suspend,
#custom-lock,
#custom-reboot,
#custom-quit,
#cpu,
#disk,
#window,
#taskbar,
#load,
#temperature,
#user,
#memory {
  padding: 0 10px;
  /*{#rcol(data.colors.normal)#}*/
  color: #bbc3ff;
  /*{#rcol(data.colors.background)#}*/
  background-color: #131318;
  border-radius: 10px;
}

#power-profiles-daemon:hover,
#systemd-failed-units:hover,
#custom-power:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-quit:hover,
#custom-suspend:hover,
#pulseaudio:hover,
#network:hover,
#bluetooth:hover,
#backlight:hover {
  padding: 0 10px;
  /*{#rcol(data.colors.background)#}*/
  color: #131318;
  /*{#rcol(data.colors.normal)#}*/
  background-color: #bbc3ff;
  border-radius: 10px;
}

#network.disconnected, #temperature.critical {
  /*{#rcol(data.colors.critical)#}*/
  color: #ffb4ab;
}

#network.disconnected:hover {
  /*{#rcol(data.colors.critical)#}*/
  background-color: #ffb4ab;
  /*{#rcol(data.colors.background)#}*/
  color: #131318;
}

#network.linked,
#battery.warning,
#battery.low,
#systemd-failed-units.degraded {
  /*{#rcol(data.colors.error)#}*/
  color: #93000a;
}

#network.linked:hover,
#systemd-failed-units.degraded:hover {
  /*{#rcol(data.colors.error)#}*/
  background-color: #93000a;
  /*{#rcol(data.colors.background)#}*/
  color: #131318;
}

@keyframes blink {
  to {
    /*{#rcol(data.colors.error)#}*/
    color: #93000a;
    /*{#rcol(data.colors.critical)#}*/
    background: #ffb4ab;
  }
}

#battery:not(.charging).critical {
  /*{#rcol(data.colors.critical)#}*/
  color: #ffb4ab;
  /*{#rcol(data.colors.error)#}*/
  background: #93000a;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging,
#battery.full,
#power-profiles-daemon.performance,
#bluetooth.disabled {
  /*{#rcol(data.colors.high)#}*/
  color: #e6bad7;
}

#privacy-item.screenshare {
  /*{#rcol(data.colors.screen_cast)#}*/
  color: #ffb4ab;
}

#power-profiles-daemon.performance:hover,
#bluetooth.disabled:hover {
  /*{#rcol(data.colors.background)#}*/
  color: #131318;
  /*{#rcol(data.colors.high)#}*/
  background-color: #e6bad7;
}

#power-profiles-daemon.power-saver,
  /*I mostly have my audio muted, yes I'm crazy :3*/
#pulseaudio:not(.muted),
#privacy-item.audio-out {
  /*{#rcol(data.colors.low)#}*/
  color: #c4c5dd;
}

#power-profiles-daemon.power-saver:hover,
#pulseaudio:not(.muted):hover {
  /*{#rcol(data.colors.background)#}*/
  color: #131318;
  /*{#rcol(data.colors.low)#}*/
  background-color: #c4c5dd;
}

#taskbar button.active {
  /*{#rcol(data.colors.waybar_button_active)#}*/
  background-color: #e6bad7;
}

#taskbar button:hover {
  /*{#rcol(data.colors.waybar_button_hover)#}*/
  background: #bbc3ff;
  box-shadow: none;
  border: none;
}
