$background: #1a1111; // {<rcol(data.colors.background)>}
$normal: #ffb3b1; // {<rcol(data.colors.normal)>}
$low: #e6bdbb; // {<rcol(data.colors.low)>}
$high: #e3c28d; // {<rcol(data.colors.high)>}
$critical: #ffb4ab; // {<rcol(data.colors.critical)>}
$focused: #5d3f3e; // {<rcol(data.colors.starship_time_bg)>} //TODO: chance name

* {
  all: unset;
  font-size: 13px;
}

.widget {
  background-color: $background;
  border-radius: 10px;
}

tooltip {
  background-color: $background;
  border-radius: 10px;
  margin: 0.75rem;
}

.bar {
  background: none;
  color: $normal;
}

.clock {
  color: $normal;
}

.battery-discharging {
  color: $normal;
}

.system-critical {
  color: $critical;
}

.battery-charging,
.battery-charge {
  color: $high;
}

calendar {
  background-color: $background;
  color: $normal;
  border: none;
}

calendar:selected {
  color: $background;
  background-color: $high;
  border-radius: 10%;
}

.system-tray {
  background-color: $background;
  color: $normal;
}

.desktop-widgets {
  background: none;
}

.desktop-widget {
  background-color: $background;
  border-radius: 16px;
  padding: 12px;
  color: $normal;
}

.desktop-app:hover {
  background-color: $focused;
  border-radius: 4px;
}

.test {
  background-color: $background;
}
