$background: #131318; // {<rcol(data.colors.background)>}
$normal: #bbc3ff; // {<rcol(data.colors.normal)>}
$low: #c4c5dd; // {<rcol(data.colors.low)>}
$high: #e6bad7; // {<rcol(data.colors.high)>}
$critical: #ffb4ab; // {<rcol(data.colors.critical)>}

* {
  all: unset;
  font-size: 13px;
  font-family: "JetbrainsMono Nerd Font Propo";
}

tooltip {
  background: rgba($background, 0.6);
  color: $normal;
  padding: 10px;
  border-radius: 10px;
}

.bar {
  background: rgba($background, 0.4);
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.bar-part {
  margin-top: 3px;
  margin-bottom: 3px;
  color: $normal;
  background: none;
}

.bar-element {
  background: $background;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;

  &:hover {
    background: $high;
  }
}

.bar-element-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.bar-element-right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.workspace {
  color: $normal;
  background: rgba($background, 0.6);

  &:hover {
    color: $background;
    background: $normal;
  }

  &:active {
    color: $background;
    background: $high;
  }
}

.active-workspace {
  color: $high;
  background: $background;

  &:hover {
    color: $background;
    background: $high;
  }

  &:active {
    color: $background;
    background: $low;
  }
}

.battery {
  color: $normal;
}

.battery-fully-charged,
.battery-charging {
  color: $high;
}

.sound {
  color: $low;
}

.sound-muted {
  color: $normal;
}

menu {
  font-size: 20px;
  background: $background;
  padding: 10px;
  border-radius: 10px;
}

.power-menu {
  padding-top: 5px;
  padding-bottom: 5px;
}

.dnd, .power, .tuned {
  &:hover {
    background: $normal;
  }
  &:active {
    background: $high;
  }
}

.power {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.dock {
  background: $background;
}
